::ng-deep .mat-datepicker-content {
    background-color: rgb(32, 32, 33)!important;
  }
::ng-deep .mat-datepicker-content .mat-calendar-next-button:not(.mat-mdc-button-disabled) ,::ng-deep  .mat-calendar-previous-button::after{
    color: aliceblue !important;
} 
  ::ng-deep .mat-calendar-body-cell-content {
    color: aliceblue !important;
  }
  
  ::ng-deep .mat-calendar-body-label {
    color: #e669fb !important;
  }
  
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #e669fb !important;
}
  ::ng-deep
    .mat-calendar-body-today:not(.mat-calendar-body-selected):not(
      .mat-calendar-body-comparison-identical
    ) {
    border-color: #e669fb !important;
  }
  