<header>
  <nav *ngIf="!lastSegment">
    <div class="left">
      <h1>
        <a routerLink="/">Sync <span>up</span></a>
      </h1>
      <form (ngSubmit)="onSearch(location)" #location="ngForm">
        <input type="text" placeholder="Location"  name="location" ngModel/>
        <button><img src="../assets/search.png" alt="search" /></button>
      </form>
    </div>
    <div class="right">
      <div class="normal" *ngIf="!isAuthenticated">
        <a routerLink="/login"><button class="login">Log in</button></a>
        <a routerLink="/signup"><button class="signup">Sign up</button></a>
      </div>
      <div *ngIf="isAuthenticated" class="logged">
        <button mat-button [matMenuTriggerFor]="afterMenu">
          <div class="img-con">
            <img
              class="profile"
              [src]="profileImage"
              alt="profile"
            />
          </div>
        </button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <a routerLink="/profile">
            <button mat-menu-item>
              <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>Profile
            </button>
          </a>

          <a routerLink="/create">
            <button mat-menu-item>
              <mat-icon aria-hidden="false" fontIcon="create"></mat-icon>Create
              Event
            </button>
          </a>

          <a routerLink="/manage">
          <button mat-menu-item>
            <mat-icon aria-hidden="false" fontIcon="build"></mat-icon>Manage
            Event
          </button>
          </a>

          <a routerLink="/registered">
            <button mat-menu-item>
              <mat-icon aria-hidden="false" fontIcon="event"></mat-icon>Event
              Registered
            </button>
          </a>

          <button mat-menu-item (click)="onLogout()">
            <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
            Logout
          </button>
        </mat-menu>
      </div>
    </div>
  </nav>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>
