<div class="banner-container">
  <div class="banner">
  
      <div class="head"><h2>Sync <span>Up</span></h2><p>Where Events Find Their Perfect Harmony!</p></div>  
      <p>
        Welcome to SyncUp, your ultimate destination for seamless event hosting!
        Whether it's a conference, concert, or community gathering, SyncUp
        brings people together effortlessly. With intuitive tools and
        unparalleled convenience, organizing your next event has never been
        smoother. Join us and sync up for unforgettable experiences
      </p>
    </div>
  
</div>
