.display-card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
  }
  h3{
    font-size: 1.7rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(200, 203, 211, 0.46);

  }